
$url_font: '../webfonts/';
$url_image: '../img/';
// FUNCION PARA REGISTRAR LAS FUENTES
@mixin register-font($name:"Arial", $weight: 400, $woff2, $woff){
    @if $name != ""{
        @font-face {
            font-family: $name;
            font-display: swap;
            src:  
                url("#{$url_font}#{$woff2}") format('woff2'),
                url("#{$url_font}#{$woff}") format('woff');
            font-weight: $weight;
            font-style: normal;
        }
    }
}


// FUNCION PARA REGISTRAR EL BACKGROUND
@mixin bg-image-webp($folder:"", $image_webp:"", $image_jpg:""){
    $img_1 : '';
    $img_2 : '';
    @if $image_webp != "" {
        $img_1 :  "#{$url_image}#{$folder}/#{$image_webp}";
    }
    @if $image_jpg  != "" {
        $img_2 : "#{$url_image}#{$folder}/#{$image_jpg}";
    }
    @if $folder != "" {
        background-image:

        url("#{$img_1}"), 
        url("#{$img_2}") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }@else{
        background-image:
 
        url("#{$img_1}"), 
        url("#{$img_2}") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@mixin bg-image-svg($folder:"", $image_svg:""){
    $img_1 : '';
    @if $image_svg != "" {
        $img_1 :  "#{$url_image}#{$folder}/#{$image_svg}";
    }

    @if $folder != "" {
        background-image:
        url("#{$img_1}");
        background-repeat: no-repeat;
        background-size: cover;
    }@else{
        background-image:
        url("#{$img_1}");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@mixin bg-presets(){
        content: "";
        position: absolute;
}

@mixin wave($image:""){
    @if $image != "" {
        position: absolute;
        width: 100%;
        background-image: url("#{$url_image}/#{$image}");
        height: 4rem;
        z-index: 999;
        background-size: cover;
        background-position: top;
    }

}

@mixin gradient($direction, $opacity: 0.8){
    background: linear-gradient(to $direction, rgba(0, 0, 0, $opacity), transparent);
}


