.top-nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    width: 100%;
    background: $black;
    height: 40px;
    align-items: center;
    .container{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        li{
            margin-right: 2rem;
            a{
                color: $white;
                font-size: .9rem;
                font-weight: $Medium;
                i{
                    margin-right: .25rem;
                }
            }
        }
        &:last-child{
            li{
                margin-right: 1rem;
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
    @include media(sm){
        display: none;
    }
}
header{
    width: 100%;
    position: absolute;
    top: 40px;
    z-index: 9999;
    height: 80px;
    transition: $fast;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(md){
        height: 60px;
        top: 0;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(md){
            justify-content: flex-end;
        }
        *{
            color: $white;
        }
        .logo{
            position: relative;
            z-index: 999;
            @include media(md){
                width: 100%;
            }
            a{
                text-transform: uppercase;
                font-size: 2em;
                font-weight: $Bold;
                display: flex;
                .brand-img_container{
                    .brand-img{
                        height: 59px;
                        width: 59px;
                        display: flex;
                        border-radius: 50%;
                        background: $orange;
                        border: 1px solid $orange;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        @include media(md){
                            width: 49px;
                            height: 49px;
                        }
                        img{
                            width: 30px;
                            height: 30px;
                            @include media(md){
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }
                .brand{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 10px;
                    @include media(sm){
                        margin-left: 5px;
                    }
                    span:first-child{
                        font-size: 24px;
                        font-weight: $Bold;
                        color: $black;
                         @include media(md){
                            font-size: 18px;
                         }
                    }
                    span{
                        font-size: 12px;
                        font-weight: $Regular;
                        color: $black;
                        text-transform: none;
                         @include media(md){
                            font-size: 10px;
                         }
                    }
                }
            }
        }
        @include media(md){
            .menu-links{
                position: fixed;
                top: 60px;
          
                left: 0;
                min-height: 150vh;
                height: 100%;
                width: 100%;
                background: #00000062;
  
                transition: $fast;
                opacity: 0;
                visibility: hidden;
                &.show{
                    opacity: 1;
                    visibility: visible;
                }
                .links{
                    padding-top: 40px;
                    flex-direction: column;
                    background: $white;
                    max-width: 250px;
                    @include media(xs){
                        // max-width: 210px;
                    }
                    width: 100%;
                    height: 100%;
                    a{
                        font-size: 20px !important;
                        letter-spacing: 1px;
                    }
                }
            }

        }
        .links{
            list-style: none;
            display: flex;
            .link__container{
                margin-left: 2em;
                @include media(xs){
                    display: flex;
                }
                &:first-child{
                    @include media-down(md){
                        margin-left: 0;
                    }
         
                }
                @include media(md){
                    margin-left: 2rem;
                    padding: 1.5rem 0;
                    @include media(sm){
                        margin-left: 20px;
                        @include media(xs){
                            padding: 1rem 0;

                        }
                    }
                }
                .link{
                    font-size: .9em;
                    font-weight: $Bold;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    transition: $fast;
                    color: $black;

                    @include media(md){
                        font-size: 18px;
                    }
                    &:not(.link-contact){
                        
                        padding-bottom: .5em;
                        border-bottom: 1.5px solid transparent;
                        @include media-down(md){
                            &:hover{
                                border-color: $white;
                                color: $orange;
                            }
                        }
                        @include media(xs){
                            padding-bottom: 0;
                        }

                    }
                    &.link-contact{
                        display: none;
                    }
                    @include media(xs){
                        &.link-contact{
                            display: flex;
                            width: auto;
                            background: $orange;
                            color: $white;
                            padding: .9rem 1rem;
                        }
                    }


                }
            }
 


        }
    }
    img{
        width: 250px;
        @include media(xs){
            width: 200px;
        }
    }

    .link-cotizar{
        background: $orange;
        span{
            color: $white;
        }
        height: 80px;
        width: 200px;
        border: 0;
        outline: none;
        font-weight: $Bold;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: .5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $fast;
        &:hover{
            background: $black;
        }
        @include media(md){
            height: 60px;
            @include media(xs){

                display: none;
            }
        }
    }
    .hamburger__container{
        @include media(md){
           
            padding-left: 2rem;
            @include media(sm){
                padding-left: 10px;
            }
            @include media(xs){
                padding-left: 0;
                
             
            }
        }
    }
}

header.scroll{
    position: fixed;
    top: 0;
    animation: slide-in-top .8s;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

header.open{
    // .logo{

    //     a{

    //         .brand{
    //             span:first-child{
    //                 font-size: 24px;
    //                 font-weight: $Bold;
    //                 color: $white;
    //                  @include media(md){
    //                     font-size: 18px;
    //                  }
    //             }
    //             span{
    //                 color: $white;
    //             }
    //         }
    //     }
    // }
}